.card h4 {
    text-transform: none;
    font-size: 110%;
}

.card .card-date {
    float: right;
    font-size: 60%;
}

/*.site-footer {
    color: #fff;
}*/

section {
    padding: 45px 0 45px 0 !important;
}
