<div class="gallery">
{% for asset in page.assets | sort | reverse %}
  {% if asset is matching("[.](jpg|png)$") %}
    <div class="picture">
        <a href="{{ get_url(path=asset) }}">
          <img src="{{ resize_image(path=asset, width=240, height=180, op="fit") }}"
               title="{{ asset | split(pat="/") | last | split(pat=":") | last | replace(from=".jpg",to="") | replace(from="-",to=" ") }}"
          />
        </a>
        <div class="datetime">{{ asset | split(pat="/") | last | split(pat=":") | first | replace(from="-",to=" ") }}</div>
        <label>{{ asset | split(pat="/") | last | split(pat=":") | last | replace(from=".jpg",to="") | replace(from="-",to=" ") }}</label>
    </div>
    &ensp;
  {% endif %}
{% endfor %}
</div>
