<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
        <!-- Enable responsiveness on mobile devices-->
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>
        <title>
            {% block title %}
                {% if page.title %}
                {{ page.title }}
                {% elif section.title %}
                {{ section.title }}
                {% else %}
                {{ config.title }}
                {% endif %}
            {% endblock title %}
        </title>
        <link href="{{ get_url(path="favicon.ico", trailing_slash=false) }}" rel="icon" type="image/x-icon"/>
        {% if config.generate_feed %}
            <link rel="alternate" type={% if config.feed_filename == "atom.xml" %} "application/atom+xml" {% else %} "application/rss+xml" {% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}"/>
        {% endif %}
        {# Metadata #}
        {% block metadata %}
            <meta content="website" property="og:type"/>
            <meta content="{{ config.title }}" property="og:site_name"/>

            {% if page.permalink %}
                <meta content="{{ page.permalink | safe }}" property="og:url"/>
                <meta content="{{ page.permalink | safe }}" property="twitter:url"/>
            {% else %}
                <meta content="{{ config.base_url | safe }}" property="og:url"/>
                <meta content="{{ config.base_url | safe }}" property="twitter:url"/>
            {% endif %}
            {% if page.title %}
                <meta content="{{ page.title }}" property="og:title"/>
                <meta content="{{ page.title }}" property="twitter:title"/>
            {% elif section.title %}
                <meta content="{{ section.title }}" property="og:title"/>
                <meta content="{{ section.title }}" property="twitter:title"/>
            {% else %}
                <meta content="{{ config.title }}" property="og:title"/>
                <meta content="{{ config.title }}" property="twitter:title"/>
            {% endif %}
            {% if page.description %}
                <meta content="{{ page.description }}" property="og:description"/>
                <meta content="{{ page.description }}" property="description"/>
                <meta content="{{ page.description }}" property="twitter:description"/>
            {% elif section.description %}
                <meta content="{{ section.description }}" property="og:description"/>
                <meta content="{{ section.description }}" property="description"/>
                <meta content="{{ section.description }}" property="twitter:description"/>
            {% else %}
                <meta content="{{ config.description }}" property="og:description"/>
                <meta content="{{ config.description }}" property="description"/>
                <meta content="{{ config.description }}" property="twitter:description"/>
            {% endif %}
            <meta content="summary_large_image" property="twitter:card"/>
            {% if page.extra.cover and page.extra.cover is starting_with("/") %}
                <meta content="{{ config.base_url | safe }}{{ page.extra.cover }}" property="og:image"/>
                <meta content="{{ config.base_url | safe }}{{ page.extra.cover }}" property="twitter:image"/>
            {% elif page.extra.cover %}
                <meta content="{{ page.permalink | safe }}/{{ page.extra.cover }}" property="og:image"/>
                <meta content="{{ page.permalink | safe }}/{{ page.extra.cover }}" property="twitter:image"/>
            {% else %}
                <meta content="{{ config.base_url | safe }}/img/screenshot.jpg" property="og:image"/>
                <meta content="{{ config.base_url | safe }}/img/screenshot.jpg" property="twitter:image"/>
            {% endif %}
            <meta name="generator" content="zola" />
            <meta name="verify-v1" content="X+Tn+2a3v9og5PuWhebjzyZaHc+k5DKYK78ZyO5luUM=" />
            <meta name="google-site-verification" content="wo-kq20OmasUoinAhGLkSlHnzvczp38OA3VaL4VQEZ4" />
        {% endblock metadata %}
        {% block css %}
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/open-sans-v18-latin-ext_latin_greek_cyrillic-regular.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/open-sans-v18-latin-ext_latin_greek_cyrillic-italic.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/open-sans-v18-latin-ext_latin_greek_cyrillic-700.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/open-sans-v18-latin-ext_latin_greek_cyrillic-700italic.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/roboto-v20-latin-ext_latin_cyrillic-regular.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/roboto-v20-latin-ext_latin_cyrillic-700.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/roboto-v20-latin-ext_latin_cyrillic-700italic.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/fa-regular-400.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/fa-brands-400.woff2" as="font" />
            <link rel="preload" href="{{ config.base_url | safe }}/fonts/fa-solid-900.woff2" as="font" />
            <link href="{{ get_url(path="fonts.css", trailing_slash=false) }}" rel="stylesheet"/>
            <link href="{{ get_url(path="main.css", trailing_slash=false) }}" rel="stylesheet"/>
            <link href="{{ get_url(path="fontawesome.css", trailing_slash=false) }}" rel="stylesheet"/>
        {% endblock css %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <div class="title">Proycon's Homepage</div>
            {% block menu %}
            <nav class="menu">
                <ul>
                    {% for item in config.extra.menu %}
                        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endblock menu %}
        </header>
        <main>
            <div class="body">
            {% block content %}
            {% endblock content %}
            </div>
        </main>
        <footer>
            {% block footer %}
                <div class="footer">
                    <div class="logo"></div>
                    <div class="copyright">
                        &#169;{{ config.extra.year }} <em>{{ config.extra.author }}</em> - Content licence: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA</a>
                    </div>
                    <div class="rss">
                        &mdash;  Subscribe to my <i class="fas fa-rss"></i> <a href="/index.xml">RSS feed</a> to keep updated
                    </div>
                    <div class="made-with">
                        &mdash; Made with <a href="https://www.getzola.org/" rel="noopener noreferrer" target="_blank">Zola</a> &mdash; <i class="fas fa-code-branch"></i> <a href="https://github.com/proycon/homepage">sources</a><br />
                        <em>This site uses no cookies, no scripts, no external assets, no advertisements and as such is as privacy friendly as possible.</em>
                    </div>
                </div>
                <div class="contact">
                    <ul>
                    {% for network in config.extra.networks %}
                        <li>
                            <i class="{{ network.icon_pack }} {{ network.icon }}" title="{{ network.name }}"></i> <label>{{ network.name }}</label> &ndash; <a rel="me" href="{{ network.url | safe }}">{{network.value}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
        {% endblock footer %}
        </footer>
    </body>
</html>
