{% extends "base.html" %}
{% block content %}
    <div class="page-content">
    {{ page.content | safe }}

      <div class="contact">
          <ul>
          {% for network in config.extra.networks %}
            {% if network.contactable %}
              <li>
                  <i class="{{ network.icon_pack }} {{ network.icon }}" title="{{ network.name }}"></i> <label>{{ network.name }}</label> &ndash; <a rel="me" href="{{ network.url | safe }}">{{network.value}}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
      </div>
      <div class="qr">
        <a href="mailto:proycon@anaproy.nl"><img src="/img/qr_email.png" alt="proycon@anaproy.nl" title="E-mail: proycon@anaproy.nl"/></a>
        <a href="https://matrix.to/#/@proycon:matrix.anaproy.nl"><img src="/img/qr_matrix.png" alt="@proycon:matrix.anaproy.nl" title="Matrix: @proycon:matrix.anaproy.nl"/></a>
        <a href="https://signal.me/#eu/aPP6InxiNSz_YB-qmS4xl-sN6t8PXLW__GFnbTcW5_-bUzOLpvVEwY3XVH3CAbub"><img src="/img/qr_signal.png" alt="https://signal.me/#eu/aPP6InxiNSz_YB-qmS4xl-sN6t8PXLW__GFnbTcW5_-bUzOLpvVEwY3XVH3CAbub" title="Signal: @proycon.82"/></a>
        <a href="https://i.delta.chat/#14BA8372741E52CD58EBAE621D95111A8F2FEE6D&a=proycon%2Bchat%40anaproy.nl&n=Maarten%20van%20Gompel%20%28proycon%29&i=N7q7puVB6Mvp3N0YHZ3Gd_yF&s=zzevx15kZWDPMLCfeu8AWwh0"><img src="/img/qr_deltachat.png" alt="proycon+chat@anaproy.nl" title="Deltachat: proycon+chat@anaproy.nl"/></a>
      </div>
    </div>

{% endblock content %}
