{% extends "base.html" %}
{% block content %}
    <div class="page-content">
    {{ page.content | safe }}

      <div class="contact">
          <ul>
          {% for network in config.extra.networks %}
            {% if network.contactable %}
              <li>
                  <i class="{{ network.icon_pack }} {{ network.icon }}" title="{{ network.name }}"></i> <label>{{ network.name }}</label> &ndash; <a rel="me" href="{{ network.url | safe }}">{{network.value}}</a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
      </div>
    </div>

{% endblock content %}
