{% extends "base.html" %}
{% block sidebar %}
    <div class="margin profile">
        <img class="portrait" src="/img/portrait.png" alt="avatar" title="A photo of me" />
        <div class="portrait-title">
            <h2 itemprop="name">Maarten van Gompel</h2>
            <h3 itemprop="nickname">proycon</h3>
        </div>
        <ul class="network-icon">
            {% for network in config.extra.networks %}
                {% if network.profile %}
                <li>
                    <a href="{{ network.url }}">
                        <i class="{{ network.icon_pack }} {{ network.icon }}"></i>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar %}
{% block content %}
    {% for page in section.pages %}
        <section id="{{ page.slug }}">
            <div class="margin">
                <h2>{{ section.title }}</h2>
                {% if section.description %}
                <p>{{ section.description }}</p>
                {% endif %}
            </div>
            <div class="body">
                {{ section.content | safe }}
            </div>
        </section>
    {% endfor %}
{% endblock content %}
